# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/
env/

# Local env / secrets
.env

# Terraform
terraform.tfvars
**/.terraform/
**/*.tfstate
**/*.tfstate.*
**/.terraform.lock.hcl
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# OS / editor
.DS_Store
.idea/
.vscode/
